
*, *::before, *::after{
   margin: 0px;
   padding: 0px;
}
:root{
   --max-content-width: 700px 
}
@keyframes fadeIn{
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.backButton:active{
   left: 1px;
}
#home-open-container{
   width: 100%;
   max-width: var(--max-content-width);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: fadeIn 1s;
   -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  z-index: 3;
  overflow-x: none;
}
.personal-sec{
   background: rgba(0, 0, 0, 0);
   margin: 12px 0px;
   padding: 20px 5px;
   height: 300px;
   display: flex;
   width: 100vw;
   min-width: 330px;
   max-width: 600px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 3px;
   animation: fadeIn 1s;
   -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;
}

